@use "_variables.scss" as variables;

html, body {
  position: relative;
  font-family: Arial, sans-serif;
  color: variables.$font-color;
  background-color: variables.$background-color;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}
